# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

_testmain.go

*.exe

/src
/pkg
/bin

script/com.shortbread.client.plist
script/*.log

Godeps/_workspace/src/github.com/coreos/shortbread
Godeps/_workspace/src/github.com/libgit2/git2go/vendor/libgit2/build/CMakeCache.txt
Godeps/_workspace/src/code.google.com/p/google-api-go-client/api/
